clients {
  phones = {
    // my iphone
    "5c:f7:e6:00:00:00": {
      effect: "bluegreen-random"
    }
  }
  unknown-client = {
    effect: "fire-random"
  }
  offline-threshold = 7 minutes
}

nanoleaf {
  update-interval = 1 minute

  devices = {
    // Bedroom lights
    "00:00:00": {
      auth = "password"
      min-brightness = 20
      sdim-hour = 22
    }
  }
}

unifi {
  base-url = "https://unifi.local"
  username = "integration"
  password = "password"
  refresh-interval = ${nanoleaf.update-interval}
}

ssl-config {
  trustManager = {
    stores = [
      {
        type = "PEM",
        path = "unifi.pem",
        classpath = true
      }
    ]
  }
}

# give the loggers more time to startup
akka.logger-startup-timeout = 1minute